<app-header></app-header>
  <!--Search Component-->
<div>
  <div class="col-md-12 col-xs-12 marginClass">
    <div class="col-md-11 col-xs-10">
      <input type="text" class="form-control searchText" [(ngModel)]="searchValue" (keyup)="filterValue($event.target.value)" list="countryList">
      <div id="countryList" class="dropDownList" *ngIf="filteredCountryList.length > 1 && ishideDropDown === false">
        <div class="selectedItem" *ngFor="let item of filteredCountryList" (click)="setSelectedValue(item.geonameid, item.name)">{{item.name}}</div>
      </div>
    </div>
    <div class="col-md-1 col-xs-2">
      <button class="btn find-location-btn locationBtn" (click)="getCurrent()" (focus)="appWeather.weatherForcast()">Search</button>
    </div>
  </div>
  <!--tempreature Format-->
  <div class="col-md-12 col-xs-12">
    <div class="tempreatureType">
      <div class="circle" [ngClass]="{tempType: tempreatureType === tempreatureFormat.FRANHITE}" (click)="selectedTempreatureFormat(tempreatureFormat.FRANHITE)">
        <div>F</div>
      </div>
      <span> | </span>
      <div class="circle" [ngClass]="{tempType: tempreatureType === tempreatureFormat.CELCIOUS}" (click)="selectedTempreatureFormat(tempreatureFormat.CELCIOUS)">
        <div>C</div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12">
    <!--Today weather forecast-->
    <app-weather-today [city]="city" [temprature]="temprature" [minTemp]="minTemp" [maxTemp]="maxTemp" [humidity]="humidity" [imageIcon]="imageIcon" [isFaheranhite]="isFaheranhite"></app-weather-today>
    <!--Forecast Data-->
    <app-weather-forecast #appWeather [selectedCountryID]="selectedCountryID" [isFaheranhite]="isFaheranhite"></app-weather-forecast>
  </div>
</div>

<app-footer></app-footer>
